@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

body{
    background-image: url("assets/images/background-paper.png");
    background-size: contain;
    color:black;
    font-family: 'Londrina Solid', cursive;


}



a{
    color:black;

}
a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }

header{


}

nav{
display: flex;
justify-content: space-around;
align-items: center;
min-height: 200px;
}


nav ul{
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    list-style: none;
    font-family: 'Londrina Solid', cursive;
    font-size:1.5rem;
    width:80%;
}

nav ul img{
    box-shadow: -3px 4px 0px white;
    border-radius: 100%;
}



#logo{
    min-width:200px;
    max-width:200px;
    transition: all .2s ease;
}

#logo:hover{
   transform: scale(1.1)
}

.burger{
  display:none;
}

.burger div{
  width:50px;
  height:3px;
  margin:10px;
  background-color: #dd3737;
}

.nav-active{
  transform:translatex(0);
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform:translatex(50px)
  }
  to{
    opacity:1;
    transform:translatex(0px)
  }
}




.blue-shadow{
    text-shadow:1px 2px #3393c6;
}

.red-shadow{
    text-shadow:1px 2px #dd3737;
}



.photo-banner{
margin-bottom:50px;

}

.photo-banner img{
    width:100%;
}


.help-banner{
    text-align:center;
    margin: 3.5rem auto;
}

.help-banner img{
    width:75%;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap:40px;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin:0 auto 50px auto;
    padding:40px;
    max-width:800px;
}

.cards-back-container{
position:relative;
  }



  #card-1,
  #card-2,
  #card-3{
    transition: all .4s ease;
    position:absolute;
    top:-150px;
    transform: rotate(-15deg);
    border-radius: 10px;
    width:80%;
    z-index: 1;
  }



.cards{
    transition: all .2s ease;
    border-radius: 10px;
    width:80%;
    margin:0 auto;
z-index:0;
}

.cards:nth-child(odd){
    transform: rotate(-3deg);
}

.cards:nth-child(even){
    transform: rotate(3deg);
}


.cards:hover{
box-shadow: 10px 10px 10px grey;
transform: scale(1.1) rotate(0deg)
}




.browse-by{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:50px;
}

.browse-by img{
    width:450px;
    margin-bottom:30px;
}

#daniel{
    width:300px;
    height:300px;
   border-radius: 100%;
   box-shadow: -10px 10px 0 rgb(245, 186, 42);
   transition:all .3s ease;
}

#daniel:hover{
    box-shadow:0 0 0 10px rgb(245, 186, 42);

}

span.red-text,
span.blue-text{
font-size:4rem;
vertical-align:-15% ;

}



span.red-text{
    color:#dd3737;
}


span.blue-text{
color:#3393c6;
}



.testimonials-container{
    width: 75%;
    margin:0 auto;
    text-align:center;
    padding:100px;
}

.testimonials-container img{
    width:400px;

}



footer{
    color:white;
    text-align:center;
}



.blue-bar{
    background-color:rgb(59, 155, 194);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding:50px;
    text-align:center;
    max-height:300px;
}

div.social{
  margin:0 auto;
  display:grid;
  grid-gap:40px;
  color:white;
}

div.social h3{
  font-size:1.5rem;

  /* text-shadow: -1px 1px 1px white;
-webkit-text-stroke: 1px lightgrey; */
}

.social-icons{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: center; */
  list-style: none;
  color:#dd3737;
}

.icons{
    text-shadow:-3px 2px 0px white;
    transition: all .2s ease;
}

.icons:hover{
transform:scale(1.1);
}

.blue-bar img{
    max-width:350px;
    max-height:200px;

}

.red-bar{
    background-color:#d13531;
    height:50px;
}

.footer-copyright{
    background-color:black;
    height:50px;
    padding-top:15px
}

.footer-copyright span{
    color:#d13531;
}






/* Round perfomer slider css */

/* the slide container with a fixed size */
.slides {

    width: 300px;
    height: 300px;
    position: relative;
    border-radius:50%;
    box-shadow:0 0 0 10px rgb(245, 186, 42);
    transition:all .3s ease;
  }

  .slides:hover{
    box-shadow:0 0 0 15px rgb(245, 186, 42);
  }
  /* the images are positioned absolutely to stack. opacity transitions are animated. */
  .slides img {
    display: block;
    position: absolute;
    transition: opacity 1s;
    opacity: 0;
    width: 100%;
    border-radius:50%;
  }

  /* the first image is the current slide. it's faded in. */
  .slides img:first-child {
    z-index: 2; /* frontmost */
    opacity: 1;
  }

  /* the last image is the previous slide. it's behind the current slide and it's faded over. */
  .slides img:last-child {
    z-index: 1; /* behind current slide */
    opacity: 1;
  }



  @media screen and (max-width: 768px){
  body{
    overflow-x:hidden;
    position: relative;
  }

  nav ul{
    position:absolute;
    right:0px;

    min-height:100vh;
    top:0;
    background-color:#3393c6;
    display:flex;
    flex-direction:column;
    align-items:center;
    transform:translatex(100%);
    transition: transform .5s ease-in;
    z-index:2;
    width:100%;
    padding-bottom:20px;
  }

  .nav-link{
    opacity:0;
    margin-top:40px;

  }

  .burger{
    display:block;
    cursor:pointer;
    z-index:3;
  }

}
